$mat-background-color: #303030;

@import "../base/base.scss";

@mixin dark {
  @include base;


  //***Блок изменений от Askhaev M.M.*** (временно)
  .income-grid-color{
    text-align: right;
    color:#81C784;
  }
  .expense-grid-color{
    text-align: right;
    color:#E57373;
  }

  .operation-status-prepared-color{
    color:#FFF176;
  }
  .operation-status-processed-color{
    color:#90A4AE;
  }

  .request-status-new-color{
    color:#FFF176;
  }
  .request-status-approved-color{
    color:#81C784;
  }
  .request-status-declined-color{
    color:#E57373;
  }
  .request-status-frozen-color{
    color:#64B5F6;
  }
  .request-status-issued-color{
    color:#90A4AE;
  }

  .loan-status-color-opened-no-overdue{
    color:#AED581;
  }
  .loan-status-color-opened-were-overdues{
    color:#DCE775;
  }
  .loan-status-color-opened-current-overdue{
    color:#E57373;
  }
  .loan-status-color-closed-no-overdue{
    color:#90A4AE;
  }
  .loan-status-color-closed-were-overdues{
    color:#A1887F;
  }
  .loan-status-color-closed-annuled{
    color:#9575CD;
  }
  .loan-status-color-closed-frozen{
    color:#64B5F6;
  }

  .client-rating-new-color{
    color:#FFF176;
  }
  .client-rating-declined-color{
    color:#E57373;
  }
  .client-rating-approved-color{
    color:#81C784;
  }
  .client-rating-bad-color{
    color:#F06292;
  }
  .client-rating-good-color{
    color:#AED581;
  }
  .client-rating-excellent-color{
    color:#4DD0E1;
  }

  //**********************************************//



  .colorful {
    background:
            -webkit-linear-gradient(45deg, hsla(343, 93%, 24%, 1) 0%, hsla(343, 93%, 24%, 0) 70%),
            -webkit-linear-gradient(315deg, hsla(235, 92%, 30%, 1) 10%, hsla(235, 92%, 30%, 0) 80%),
            -webkit-linear-gradient(225deg, hsla(80, 94%, 22%, 1) 10%, hsla(80, 94%, 22%, 0) 80%),
            -webkit-linear-gradient(135deg, hsla(58, 93%, 10%, 1) 100%, hsla(58, 93%, 10%, 0) 70%);
    background:
            linear-gradient(45deg, hsla(343, 93%, 24%, 1) 0%, hsla(343, 93%, 24%, 0) 70%),
            linear-gradient(135deg, hsla(235, 92%, 30%, 1) 10%, hsla(235, 92%, 30%, 0) 80%),
            linear-gradient(225deg, hsla(80, 94%, 22%, 1) 10%, hsla(80, 94%, 22%, 0) 80%),
            linear-gradient(315deg, hsla(58, 93%, 10%, 1) 100%, hsla(58, 93%, 10%, 0) 70%);
  }

  /* Стилизация заколовков вкладок */
  .v-tabsheet-tabitem-selected .v-caption .v-captiontext {
    color: #CCC;
  }

  .v-tabsheet-tabitem :hover, .v-tabsheet-tabitem .v-caption:hover {
    color: #CCC;
  }

  .v-tabsheet-tabitemcell-default .v-tabsheet-tabitem .v-caption {}

  .v-tabsheet-tabitemcell-red .v-tabsheet-tabitem .v-caption {
    background-color: #C62828 !important;
  }

  .v-tabsheet-tabitemcell-pink .v-tabsheet-tabitem .v-caption {
    background-color: #AD1457 !important;
  }

  .v-tabsheet-tabitemcell-purple .v-tabsheet-tabitem .v-caption {
    background-color: #6A1B9A !important;
  }

  .v-tabsheet-tabitemcell-deep-purple .v-tabsheet-tabitem .v-caption {
    background-color: #4527A0 !important;
  }

  .v-tabsheet-tabitemcell-indigo .v-tabsheet-tabitem .v-caption {
    background-color: #283593 !important;
  }

  .v-tabsheet-tabitemcell-blue .v-tabsheet-tabitem .v-caption {
    background-color: #1565C0 !important;
  }

  .v-tabsheet-tabitemcell-light-blue .v-tabsheet-tabitem .v-caption {
    background-color: #0277BD !important;
  }

  .v-tabsheet-tabitemcell-cyan .v-tabsheet-tabitem .v-caption {
    background-color: #00838F !important;
  }

  .v-tabsheet-tabitemcell-teal .v-tabsheet-tabitem .v-caption {
    background-color: #00695C !important;
  }

  .v-tabsheet-tabitemcell-green .v-tabsheet-tabitem .v-caption {
    background-color: #2E7D32 !important;
  }

  .v-tabsheet-tabitemcell-light-green .v-tabsheet-tabitem .v-caption {
    background-color: #558B2F !important;
  }

  .v-tabsheet-tabitemcell-lime .v-tabsheet-tabitem .v-caption {
    background-color: #9E9D24 !important;
  }

  .v-tabsheet-tabitemcell-yellow .v-tabsheet-tabitem .v-caption {
    background-color: #F9A825 !important;
  }

  .v-tabsheet-tabitemcell-amber .v-tabsheet-tabitem .v-caption {
    background-color: #FF8F00 !important;
  }

  .v-tabsheet-tabitemcell-orange .v-tabsheet-tabitem .v-caption {
    background-color: #EF6C00 !important;
  }

  .v-tabsheet-tabitemcell-deep-orange .v-tabsheet-tabitem .v-caption {
    background-color: #D84315 !important;
  }

  .v-tabsheet-tabitemcell-brown .v-tabsheet-tabitem .v-caption {
    background-color: #4E342E !important;
  }

  .v-tabsheet-tabitemcell-grey .v-tabsheet-tabitem .v-caption {
    background-color: #E0E0E0 !important;
  }

  .v-tabsheet-tabitemcell-blue-grey .v-tabsheet-tabitem .v-caption {
    background-color: #424242 !important;
  }
}