$mat-background-color: #fafafa;

@import "../base/base.scss";

@mixin light {
  @include base;

  //***Блок изменений от Askhaev M.M.*** (временно)
  .income-grid-color{
    text-align: right;
    color:#2E7D32;
  }
  .expense-grid-color{
    text-align: right;
    color:#C62828;
  }

  .operation-status-prepared-color{
    color:#F9A825;
  }
  .operation-status-processed-color{
    color:#37474F;
  }

  .request-status-new-color{
    color:#F9A825;
  }
  .request-status-approved-color{
    color:#2E7D32;
  }
  .request-status-declined-color{
    color:#C62828;
  }
  .request-status-frozen-color{
    color:#1565C0;
  }
  .request-status-issued-color{
    color:#37474F;
  }

  .loan-status-color-opened-no-overdue{
    color:#558B2F;
  }
  .loan-status-color-opened-were-overdues{
    color:#9E9D24;
  }
  .loan-status-color-opened-current-overdue{
    color:#C62828;
  }
  .loan-status-color-closed-no-overdue{
    color:#37474F;
  }
  .loan-status-color-closed-were-overdues{
    color:#4E342E;
  }
  .loan-status-color-closed-annuled{
    color:#4527A0;
  }
  .loan-status-color-closed-frozen{
    color:#1565C0;
  }

  .client-rating-new-color{
    color:#F9A825;
  }
  .client-rating-declined-color{
    color:#C62828;
  }
  .client-rating-approved-color{
    color:#2E7D32;
  }
  .client-rating-bad-color{
    color:#AD1457;
  }
  .client-rating-good-color{
    color:#558B2F;
  }
  .client-rating-excellent-color{
    color:#00838F;
  }

  //**********************************************//

  .colorful {
    background:
            -webkit-linear-gradient(45deg, hsla(102, 94%, 46%, 1) 0%, hsla(102, 94%, 46%, 0) 70%),
            -webkit-linear-gradient(315deg, hsla(282, 94%, 45%, 1) 10%, hsla(282, 94%, 45%, 0) 80%),
            -webkit-linear-gradient(225deg, hsla(73, 99%, 49%, 1) 10%, hsla(73, 99%, 49%, 0) 80%),
            -webkit-linear-gradient(135deg, hsla(11, 91%, 41%, 1) 100%, hsla(11, 91%, 41%, 0) 70%);
    background:
            linear-gradient(45deg, hsla(102, 94%, 46%, 1) 0%, hsla(102, 94%, 46%, 0) 70%),
            linear-gradient(135deg, hsla(282, 94%, 45%, 1) 10%, hsla(282, 94%, 45%, 0) 80%),
            linear-gradient(225deg, hsla(73, 99%, 49%, 1) 10%, hsla(73, 99%, 49%, 0) 80%),
            linear-gradient(315deg, hsla(11, 91%, 41%, 1) 100%, hsla(11, 91%, 41%, 0) 70%);
  }

  /* Стилизация заколовков вкладок */
  .v-tabsheet-tabitem-selected .v-caption .v-captiontext {
    color: #222;
  }

  .v-tabsheet-tabitem :hover, .v-tabsheet-tabitem .v-caption:hover {
    color: #222;
  }

  .v-tabsheet-tabitemcell-default .v-tabsheet-tabitem .v-caption {}

  .v-tabsheet-tabitemcell-red .v-tabsheet-tabitem .v-caption {
    background-color: #E57373 !important;
  }

  .v-tabsheet-tabitemcell-pink .v-tabsheet-tabitem .v-caption {
    background-color: #F06292 !important;
  }

  .v-tabsheet-tabitemcell-purple .v-tabsheet-tabitem .v-caption {
    background-color: #BA68C8 !important;
  }

  .v-tabsheet-tabitemcell-deep-purple .v-tabsheet-tabitem .v-caption {
    background-color: #9575CD !important;
  }

  .v-tabsheet-tabitemcell-indigo .v-tabsheet-tabitem .v-caption {
    background-color: #7986CB !important;
  }

  .v-tabsheet-tabitemcell-blue .v-tabsheet-tabitem .v-caption {
    background-color: #64B5F6 !important;
  }

  .v-tabsheet-tabitemcell-light-blue .v-tabsheet-tabitem .v-caption {
    background-color: #4FC3F7 !important;
  }

  .v-tabsheet-tabitemcell-cyan .v-tabsheet-tabitem .v-caption {
    background-color: #4DD0E1 !important;
  }

  .v-tabsheet-tabitemcell-teal .v-tabsheet-tabitem .v-caption {
    background-color: #4DB6AC !important;
  }

  .v-tabsheet-tabitemcell-green .v-tabsheet-tabitem .v-caption {
    background-color: #81C784 !important;
  }

  .v-tabsheet-tabitemcell-light-green .v-tabsheet-tabitem .v-caption {
    background-color: #AED581 !important;
  }

  .v-tabsheet-tabitemcell-lime .v-tabsheet-tabitem .v-caption {
    background-color: #DCE775 !important;
  }

  .v-tabsheet-tabitemcell-yellow .v-tabsheet-tabitem .v-caption {
    background-color: #FFF176 !important;
  }

  .v-tabsheet-tabitemcell-amber .v-tabsheet-tabitem .v-caption {
    background-color: #FFD54F !important;
  }

  .v-tabsheet-tabitemcell-orange .v-tabsheet-tabitem .v-caption {
    background-color: #FFB74D !important;
  }

  .v-tabsheet-tabitemcell-deep-orange .v-tabsheet-tabitem .v-caption {
    background-color: #FF8A65 !important;
  }

  .v-tabsheet-tabitemcell-brown .v-tabsheet-tabitem .v-caption {
    background-color: #A1887F !important;
  }

  .v-tabsheet-tabitemcell-grey .v-tabsheet-tabitem .v-caption {
    background-color: #E0E0E0 !important;
  }

  .v-tabsheet-tabitemcell-blue-grey .v-tabsheet-tabitem .v-caption {
    background-color: #90A4AE !important;
  }
}