$v-focus-color: #00BCD4;

@import "../material/material.scss";

@mixin base {
  @include material;

  //***Блок изменений от Askhaev M.M.*** (временно)
  .v-grid-style-small {
    .v-grid-row > td {
      font-size: 12px;       // adjust to your needs
    }
    .v-grid-row > th, thead {
      font-size: 12px;       // adjust to your needs
    }
  }

  .v-caption-horizontal {
    display: inline-block;
  }

  .v-text-color-greenyellow {
    color: greenyellow;
  }

  .background-violet {
    background: blueviolet;
  }

  .background-yellow {
    background: yellow;
  }

  .background-burlywood {
    background: burlywood;
  }

  .layout-margin-top5 {
    div {
      margin-top: 5px;
    }
  }
  .layout-margin-bottom {
    margin-bottom: 10px;
  }
  .layout-margin-left {
    margin-left: 10px;
  }
  .layout-margin-right {
    margin-right: 30px;
  }

  .layout-margin-top {
    div {
      margin-top: 20px;
    }
  }

  .flex-wrap-layout {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-wrap-right-alignment-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    div {
      margin: 3px;
    }
  }

  .flex-wrap-left-alignment-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    div {
      margin: 3px;
    }
  }

  //***********************************************

  .menu-logo {
    text-align: center;
    margin-top: 28px;
    width: 100%;
  }

  .menu-container {
    @include animation(valo-animate-in-slide-right 500ms 500ms backwards);
    visibility: visible;
  }

  .menu-container-large {
    .menu-logo {
      font-size: 1.2em;
    }

    .v-button {
      text-align: left;
      padding-left: 30px;
    }
  }

  .menu-container-small {
    .menu-logo {
      font-size: 1em;
    }

    .user-menu {
      border: none;

      img.v-icon {
        width: 48px;
        height: 48px;
      }

      .v-menubar-menuitem {
        padding: 6px 0;
        width: 100%;
      }
    }

    .v-button {
      padding: 10px 0;

      .v-icon {
        font-size: 1.6em;
      }
      .v-button-caption {
        font-size: 0.7em;
      }
      span {
        margin: 0;
      }
    }
  }

  // Выделение выбранной вкладки
  .v-tabsheet-tabitemcell-selected {
    height: 50px;

    .v-caption {
      height: 50px;
    }
  }

  .v-tabsheet-tabcontainer-framed .v-tabsheet-tabitemcell {
    -webkit-transition: height 1s;
    transition: height 1s;
  }

  .v-tabsheet-tabcontainer-framed .v-tabsheet-tabitemcell:hover {
    height: 50px;
  }

  .v-button-text-align-center {
    text-align: center !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .drop-area {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 40px;
    border: 8px dashed #a4a4a2;
  }
}